<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/b-1.5.4/b-html5-1.5.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/b-1.5.4/b-html5-1.5.4/r-2.2.2/datatables.min.js"></script>

{% assign collection = site.data.sample %}
{% assign first_item = collection.first %}

<table id='datatable' class='datatable display'>
  <thead>
    <tr>
    {% for field in first_item %}
      <th>{{ field[0] }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in collection %}
    <tr>
      {% for value in item %}
        <td>{{ value[1] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function () {
    $('#datatable').DataTable({
      scrollX: 600,
      searching: false,
      pageLength: 3,
      order: []
    });
  });
</script>
