
.nav-grandchild {
  .navigation-list-link {
    padding-left: 1em;
  }
  .navigation-list-item:before {
    margin-left: 0;
    content: "+";
    color: inherit;
  }
}

.contributors {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}

.contributor {
  width: 125px;
  margin: 1em;
  text-align: center;
}

.ytp-title{
  display: none;
}
